{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
<div class="pt-16">
    <div class="border-4 border-solid border-black mx-96 rounded-xl text-center pb-20">
        
        <h1 class="font-bold text-4xl p-10">퀴즈 디테일</h1>
        <div class="text-xl">
            <p class="text-lg px-14">퀴즈 : {{quiz.question}}<br><br></p>
            <p class="text-right pr-32">점수 : {{quiz.points}}<br></p>
            <span class="mb-3">
                {% for answer in quiz.get_every_answers %}
                <div class="my-4">
                    {{answer.context}}
                    <span class="font-bold">{{answer.is_correct}}</span>
                    <div class="inline-flex">
                        <button class="bg-red-300 hover:bg-red-400 text-black font-bold px-1 rounded-l">
                            <a href="{% url 'quizs:edit-answer' quiz.pk answer.pk %}" class="text-base">수정</a>
                        </button>
                        <button class="bg-blue-300 hover:bg-blue-400 text-black font-bold px-1 rounded-r">
                            <a href="{% url 'quizs:delete-answer' quiz.pk answer.pk %}" class="text-base">삭제</a>
                        </button>
                    </div>
                </div>
                {% endfor %}
            </span>
            <div class="pt-10">
                <button class="text-black font-bold px-1 -mx-1 rounded-l border border-solid border-black hover:border-gray-300 hover:text-gray-500">
                    <a href="{% url 'quizs:edit' quiz.pk %}">퀴즈 수정
                    <img src="https://ifh.cc/g/67kpqD.png" class="w-5 inline-block pb-1"></a>
                </button>
                <button class="text-black font-bold -mx-1 px-1 border border-solid border-black hover:border-gray-300 hover:text-gray-500">
                    <a href="{% url 'quizs:delete' quiz.pk %}">퀴즈 삭제
                    <img src="https://ifh.cc/g/LkOjf3.png" class="w-5 inline-block pb-1"></a>
                </button>
                <button class="text-black font-bold px-1 -mx-1 rounded-r border border-solid border-black hover:border-gray-300 hover:text-gray-500">
                    <a href="{% url 'quizs:add-answer' quiz.pk %}">답 추가
                    <img src="https://ifh.cc/g/WpwhPo.png" class="w-5 inline-block pb-1"></a>
                </button>
            </div>
            <a href="{% url 'quizs:home' %}"><div class=" border-2 border-solid border-blue-700 px-5 py-1 mx-64 rounded mt-3 font-bold bg-blue-400 hover:bg-blue-700 hover:border-blue-400">완료</div></a>
        </div>
    </div>
</div>

{% endblock content %}