node_modules/
static/css/styles.css
.prettierignore
.env
db.sqlite3
package-lock.json
Pipfile.lock


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
