<header class="text-gray-600 body-font border-b fixed w-full">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-2xl font-semibold">REDI</span>
      <span class="inline-block align-text-bottom ml-3 text-sm font-semibold">Reduce Disposable Items</span>
    </a>
    {% if user.is_authenticated %}

    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href="{% url 'users:logout' %}" >logout</a>
    </nav>
    <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
    {% endif %}
  </div>
</header>

 <!--sidebar 위치지정-->
 <aside class = "w-32" aria-label = "sidebar">
    <div class = "fixed right-0 top-32">
        <div class=" bg-white flex flex-row-reverse">  
            <ul class ="w-32 text-sm font-medium text-gray-900 bg-white border border-gray-200 dark:bg-gray-700 dark:border-gray-600  rounded-lg dark:text-white">
                <li class = "text-right">  
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>    
                    <a href="{% url 'garbages:gb-list' %}" class="flex items-center p-2 text-base font-normal text-black rounded-md hover:bg-blue-300">
                        쓰레기 정보
                    </a>
                </li>

                <li>
                    <a href="{% url 'garbages:rm-list' %}" class="flex items-center p-2 text-base font-normal text-black rounded-md hover:bg-blue-300">
                        대체품 정보
                    </a>
                </li>

                <li>
                    <a href="{% url 'histories:home' %}" class="flex items-center p-2 text-base font-normal text-black rounded-md hover:bg-blue-300">
                        사용정보 기록
                    </a>
                </li>

                <li>
                    <a href="{% url 'posts:home' %}" class="flex items-center p-2 text-base font-normal text-black rounded-md hover:bg-blue-300">
                        커뮤니티
                    </a>
                </li>

                <li>
                    <a href="{% url 'quizs:home' %}" class="flex items-center p-2 text-base font-normal text-black rounded-md hover:bg-blue-300">
                        퀴즈
                    </a>
                </li>
            <ul>
        </div>
    </div>
</aside>



