<div class ="relative border-solid border-2 rounded  border-yellow-300 m-4 top-64">
    <img src="https://cdn-icons-png.flaticon.com/512/2111/2111466.png" class = "h-7  w-5 inline-block relative left-5">
        <a href="{% url 'users:kakao-login' %}" class = "relative left-28">continue with kakao</a>
    
</div>
<div class = "relative border-solid border-2 rounded border-blue-400 m-4 top-64">
    <img src="https://cdn-icons-png.flaticon.com/512/5968/5968756.png" class = "h-7  w-5 inline-block relative left-5 ">
    <a href="{% url 'users:discord-login' %}" class = "relative left-28">continue with discord</a>
</div>