{% load is_created %}
{% if day.number != 0 %}
    {% if day.past %}
        {% is_created user day as is_created_bool %}
        {% if is_created_bool %}
            <button type="button" onclick="setDate('{{day.date}}');" class=
            "
            bg-gray-100 w-full text-center rounded text-gray-300 p-1 line-through focus:ring focus:ring-gray-300
            ">
                {{day}}
            </button>
        {% else %}
            <button type="button" onclick="setDate('{{day.date}}');" class=
            "
            bg-gray-200 w-full text-center rounded text-gray-700 p-1 
            hover:bg-teal-300 hover:text-white cursor-pointer focus:outline-none focus:ring focus:ring-gray-300
            ">
                {{day}}
            </button>
        {% endif %}
    {% else %}
        <span class="bg-gray-200 w-full text-center rounded text-gray-300 p-1">
            {{day}}
        </span>
    {% endif %}
    
{% else %}
    <span></span>
{% endif %}