.use-add {
    font-size: larger;
    font-weight: bold;
    width: 40px;
    height: 12px;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 0.2cm;
    padding-top: 0.2cm;
    background-color: #fed2fe;
    border-radius: 2cm;
    position: relative;
    left: 1cm;
    top: 2cm;
    color: #8e9598;
}

.hs-field {
    display: flex;
}