
.explain {
    position: fixed;
    margin-left: 4cm;
    margin-top: 3cm;
}

.h1 {
    font-size: 30px;
    font-weight: 800;
    color: green;
}

.h3 {
    font-size: 19.2px;
    font-weight: 600;
}

.log-main {
    border-style: solid;
    border-width: 3px;
    border-radius: 4px;
    border-color: gray;
    position: fixed;
    right: 4cm;
    bottom: 3cm;
    margin: 10px;   
    padding: 4px;
    height: 430px;
    width: 450px;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.bt-login {
    margin-left: 4cm;
    margin-right: 4cm;
    text-align: center;
    font-size: 20px;
    outline-style: solid;
    outline-color: black;
    border-radius: 20px
}

.bt-login:hover {
    color: red;
}

.Sign-up {
    text-align: center;
}

.bt-sign:hover {
    color: green;
    
}

