{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <h1>일회용품 정보</h1>
    
    {% if user.is_superuser %}
        <a href ="{% url 'garbages:add' %}">일회용품 추가</a>
    {% endif %}
        

    {% for garbage in garbages %}
        <a href="{% url 'garbages:detail' garbage.pk %}">{{garbage.name}}</a><br>
    {% endfor %}

    {% if page_obj.has_previous %}
         <a href="?page={{page_obj.previous_page_number}}">
            pre
        </a>
    {% endif %}

    <span >{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

    {% if page_obj.has_next  %}
        <a href="?page={{page_obj.next_page_number}}">
           next
        </a>
    {% endif %}

{% endblock content %}
    