{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <h1>대체품 정보</h1>
    
    <div class="mt-11 ml-11 rounded-full w-60 border-2 border-green-100 bg-green-50 p-5 text-center">
        {% if user.is_superuser %}
            <a href ="{% url 'garbages:rm-add' %}" class = "text-green-700 font-semibold">대체품 추가</a>
        {% endif %}
    </div>
        

    {% for replacement in replacements %}
        <div class = "border-4 border-purple-100 p-3 text-center w-80 h-72 rounded-3xl inline-flex ml-36 mt-11 text-xl ">
            <a href="{% url 'garbages:rm-detail' replacement.pk %}" class = "mr-auto mb-auto ml-auto mt-auto 
            text-2xl font-bold">{{replacement.name}}</a><br>
        </div>
    {% endfor %}

    <div class = "mt-12 text-center">
    {% if page_obj.has_previous %}
         <a href="?page={{page_obj.previous_page_number}}">
            <img src="https://ifh.cc/g/2DMHxx.png" class = "w-7 inline-block">
        </a>
    {% endif %}

    <span >{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

    {% if page_obj.has_next  %}
        <a href="?page={{page_obj.next_page_number}}">
            <img src = "https://ifh.cc/g/G030fq.png" class = "w-7 inline-block">
        </a>
    {% endif %}
    </div> 

{% endblock content %}
    