<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <link rel="stylesheet" type="text/css" href="/static/css/Home.css">
        <link rel="stylesheet" type="text/css" href="/static/css/signup.css">
        <title>{% block title %}{% endblock title %}</title>
    </head>

    <body>
    {% include 'partials/messages.html' %}

    {% include 'partials/header.html' %}
    

    <div class="min-h-75vh mt-20">
    {% block content %}{% endblock content %}
    </div>
    
    {% include 'partials/footer.html' %}
    </body>

</html>
