.reset-main {
    display: flex;
    min-height: 50vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.auth {
    display: flex;
    width:  75%;
    color: #626870;
}

.auth-form {
    min-height: 50vh;
    flex: 1 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    text-align: center;
    overflow: auto;
}

.auth_imfo {
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    position: relative;
    top: 2cm;
    background-color:#f2f3f8;
}

.auth_box {
    max-width: 700px;
    padding: 32px 0;
}

.form_title {
    font-family: inherit;
    font-size: 30px;
    font-weight:bolder;  
    position: relative;
    bottom: 3cm;
    color: black;
}

.bt-submit {
    font-weight: 600;
    position: relative;
    left: 20px;
    text-align: center;
    color: black;
    outline-style: solid;
    outline-color: gray;
    border-radius: 4px;
    padding-left: 6px;
    padding-right: 10px;    
    text-align: center;

}

.bt-submit:hover {
    outline-color: #9dd881;
}

.h1-tag {
    position: relative;
    left: 3.9cm;
    bottom: 1.5cm;
    white-space: nowrap;
    font-size: 29px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #383e45;
    line-height: 46px;
    max-width: 1000px;
    
}

.p-tag {
    display: flex;
    white-space: nowrap;
    font: inherit;
    font-size: 20px;
    position: relative;
    top: 0.5cm;
    right: 6.7cm;
}

.emoticon {
    display: flex;
    height: 35px;
    width: 60px;
    position: relative;
    right: 6cm;
    top: 0.3cm;
}

