.reset-main {
    display: flex;
    min-height: 50vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.auth {
    display: flex;
    width:  75%;
}

.auth-form {
    min-height: 50vh;
    flex: 1 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    overflow: auto;
}

.auth_imfo {
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f3f8;
}

.auth_box {
    max-width: 700px;
    padding: 32px 0;
}

.form_title {
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    color: #626870;
    position: relative;
    bottom: 2cm;
}

.p-tag {
    font-weight: bold;
    font-size: 30px;
}