{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <main class = "h-main mb-12">
        <section class = "h-section">
                <div class = "h-trash">
                <a href="{% url 'garbages:gb-list' %}">
                    <img src="https://ifh.cc/g/3JnDas.png" class = "h-20 inline-block relative right-20">
                       쓰레기 정보
                    <img src="https://ifh.cc/g/3JnDas.png" class = "h-20 inline-block relative left-20">
                </a>
                </div>
                <div class = "h-refrm">
                    <div class = "h-trash ">
                        <br>
                    <a href="{% url 'garbages:rm-list' %}">
                        <img src="https://ifh.cc/g/JnyWGk.png" class = "h-20 inline-block relative right-20">
                            대체품 정보
                        <img src="https://ifh.cc/g/JnyWGk.png" class = "h-20 inline-block relative left-20">
                    </a>
                    </div>
                </div>
                <div class = "h-user">
                    <br>
                <a href="{% url 'histories:home' %}">
                    <img src="https://cdn-icons-png.flaticon.com/512/5673/5673087.png" class = "h-20 inline-block relative right-16">
                        사용정보 기록
                    <img src="https://cdn-icons-png.flaticon.com/512/5673/5673087.png " class = "h-20 inline-block relative left-20">
                </a>
                </div>
                <div class  = "h-cmty">
                    <br>
                <a href="{% url 'posts:home' %}">
                    <img src="https://cdn-icons-png.flaticon.com/512/4660/4660933.png " class = "h-20 inline-block relative right-24">
                        커뮤니티
                    <img src="https://cdn-icons-png.flaticon.com/512/4660/4660933.png " class = "h-20 inline-block relative left-24">
                </a>
                </div>
                {% if request.user.is_superuser %}
                <div class = "h-quizs">
                    <br>
                <a href="{% url 'quizs:home' %}">
                    <img src="https://cdn-icons-png.flaticon.com/512/4858/4858456.png " class = "h-20 inline-block relative right-24">
                        퀴즈 수정
                    <img src="https://cdn-icons-png.flaticon.com/512/4858/4858456.png " class = "h-20 inline-block relative left-24">
                </a>
                </div>
                {% else %}
                <div class = "h-quizs">
                    <br>
                <a href="{% url 'quizs:find' %}">
                    <img src="https://cdn-icons-png.flaticon.com/512/4858/4858456.png " class = "h-20 inline-block relative right-24">
                        퀴즈 풀기
                    <img src="https://cdn-icons-png.flaticon.com/512/4858/4858456.png " class = "h-20 inline-block relative left-24">
                </a>
                </div>
                {% endif %}
                </article> 
        </section>
        <div class="q-rank flex flex-col items-center rounded-xl">
            <div class="m-5 text-2xl border w-52 py-1 rounded-md">퀴즈 순위</div>
            <ul>
                {% for user_dict in user_rank_list %}
    
                {% for rank, user in user_dict.items %}
                    <li>
                        <span>{{ rank }}</span> <span>{{ user }}</span>
                    </li>
                {% endfor %}
    
                {% endfor %}
            </ul>
        </div>
        
    </main>  
{% endblock content %}