{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <a href="{% url 'core:home' %}">
        홈으로
    </a>
    <div class="w-full bg-blue-50 flex">
        <div class="flex flex-col justify-center items-center w-1/3">
        {% if user.avatar != "" %}
            <div class="container h-24 w-24 bg-cover bg-center rounded-full" style="background-image:url('{{user.avatar.url}}')"></div>
        {% else %}
            <div class="container h-24 w-24 bg-gray-400 rounded-full"></div>
        {% endif %}
        {% if request.user.pk == user.pk %}
        <a href="{% url 'users:edit' user.username %}">정보 수정</a>
        {% endif %}
        </div>
        <div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
        {{user.username}}<br>
    {{user.login_method}}<br>
    {{user.exp}}<br>
    {{user.bio}}<br>
    </div>

{% endblock content %}
    