{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
<div class = "reset-main">    
    <div class = "auth">
        <div class = "auth-form">
            <div class = "auth_box">
                <h3 class = "form_title">귀하의 비밀번호를 재설정하세요</h3> &nbsp;
                <form method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                        {% for error in form.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    {% endif %}
                <div class = "relative bottom-3 mr-2 font-extrabold text-black text-xl">
                    {% for field in form %}
                        {{field.label}} - &nbsp;
                        {{field}}
                    
                    {% endfor %}
                <button class = "bt-submit">&nbsp;제출</button>
                </div>
                </form>
            </div>
        </div>  
    </div>
    <div class = "auth_imfo">
        <h1 class = "h1-tag">비밀번호를 잊어버리셨다고요?</h1>
        <p class = "p-tag">문제없습니다 다시 설정하면되죠!</p>
        <img src="https://cdn-icons-png.flaticon.com/512/918/918433.png" class = "emoticon">
    </div>
</div>
{% endblock content %}