{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
<div class = "reset-main">    
    <div class = "auth">
        <div class = "auth-form">
            <div class = "auth_imfo">
                <div class = "auth_box">
                <h3 class = "form_title">귀하의 비밀번호를 재설정하세요</h3> &nbsp;
                    <form method="POST">
                        {% csrf_token %}
                        {% if form.errors %}
                            {% for error in form.errors %}
                                <span>{{error}}</span>
                            {% endfor %}
                        {% endif %}
                    <div class = "relative bottom-3">
                        {% for field in form %}
                            {{field.label}}
                            {{field}}
                        
                        {% endfor %}
                            
                        <button>submit</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class = "p-tag">비밀번호를 잊어버리셨나요?</p>
</div>
{% endblock content %}